
.barchart-container {
  background-color: #fbfbfb;
  border-radius: 5px;
  width: 100%;
  height: 320px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.barchart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barchart-header h2 {
  font-size: 15px;
  color: #20253a;
  margin: 0;
}

.barchart-legend {
  display: flex;
  gap: 20px;
}

.legend-item {
  color: #74798c;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.legend-item::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.black-dot::before {
  background-color: #282d30;
}

.red-dot::before {
  background-color: #e60000;
}

.barchart-tooltip {
  background-color: #e60000;
  color: white;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 1.5;
  border: none;
  text-align: center;
}

.chart-loading,
.chart-error {
  text-align: center;
  color: #9b9eac;
  font-size: 14px;
  margin-top: 20px;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}