.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1000;
  }
  
  
.header__logo img {
    height: 50px;
}
  
.header__nav {
    display: flex;
    gap: 100px;
}
  
.header__nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}
  
.header__nav a:hover {
    text-decoration: underline;
}
  
/* === RESPONSIVE === */

@media (max-width: 1024px) {
    .header__nav {
        gap: 50px;
    }
      
}

    @media (max-width: 768px) {
    .header__nav {
        gap: 20px;
    }
    .header__nav a {
        font-size: 14px;
    }
    .header__logo img {
        height: 35px;
    }

}  