.nutrient-card {
  display: flex;
  align-items: center;
  background-color: #fbfbfb;
  border-radius: 5px;
  padding: 20px;
  gap: 20px;
}

.nutrient-icon {
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 6px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nutrient-icon img {
  width: 30px;
  height: 30px;
}

.nutrient-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nutrient-value {
  font-weight: 700;
  font-size: 20px;
  color: #282d30;
}

.nutrient-label {
  font-size: 14px;
  color: #74798c;
}
