.nutrient-card {
    display: flex;
    align-items: center;
    background-color: #fbfbfb;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 124px;
}

.nutrient-icon {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.nutrient-icon img {
    width: 20px;
    height: 20px;
}

.nutrient-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.nutrient-value {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    color: #282d30;
}

.nutrient-label {
    font-size: 14px;
    color: #74798c;
    font-weight: 600;
    margin: 0;
}
  
/* === RESPONSIVE === */
@media (max-width: 1024px) {
    .nutrient-value {
        font-size: 18px;
    }
    
    .nutrient-label {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .nutrient-value {
        font-size: 16px;
    }
    
    .nutrient-label {
        font-size: 14px;
    }
}
  