
.radarchart-container {
  background-color: #282d30;
  border-radius: 5px;
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-loading,
.chart-error {
  color: #fff;
  text-align: center;
  font-size: 14px;
}


.recharts-tooltip-item {
  color: black;
}