
.radar-chart {
    background-color: #282d30;
    border-radius: 10px;
    width: 100%;
    height: 263px;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.radar-chart text {
    font-size: 12px;
    fill: #ffffff;
    font-weight: 600;
}

/* === Responsive === */
@media (max-width: 1024px) {
    .radar-chart {
        height: 240px;
        padding: 1rem;
    }

    .radar-chart text {
        font-size: 11px;
    }
}

@media (max-width: 768px) {
    .radar-chart {
        height: 220px;
        padding: 0.8rem;
    }

    .radar-chart text {
        font-size: 10px;
    }
}
