
.chart-item {
  border-radius: 5px;
  width: 100%;
  height: 263px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-item.large {
  grid-column: 1 / span 4;
  height: 320px;
}

.radar-chart-container {
  width: 100%;
  height: 263px;
  background: #282d30;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radialbarchart-container {
  position: relative;
  width: 100%;
  height: 263px;
  background: #fbfbfb;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radialbarchart-title {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 15px;
  color: #20253a;
  font-weight: 500;
}

.radialbarchart-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score-value {
  font-size: 26px;
  font-weight: 700;
  color: #282d30;
  margin: 0;
}

.score-text {
  color: #74798c;
  font-size: 14px;
  text-align: center;
  margin-top: 4px;
  line-height: 1.2;
}
